.page-title {
    display: flex;
    justify-content: space-between;
}

.btn.create-announcement {
    float: right;
}

input[name=title] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

textarea[name=text] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    margin-bottom: 1rem;
}

.custom-control-label {
    line-height: 175%;
}

.announcement {
    box-shadow: 0 0px 10px #0000001c;
}

.announcement-delete {
    position: absolute;
    top: 22px;
    right: 22px;
}

.mute-button {
    stroke: #999;
    transition: stroke 0.1s linear;
}

.mute-button:hover {
    stroke: black;
}
