.page-title {
    display: flex;
    justify-content: space-between;
}

.btn.create-announcement {
    float: right;
}

input[name=title] {
    margin-bottom: .5rem;
}

textarea[name=text] {
    margin-bottom: 1rem;
}

.custom-control-label {
    line-height: 175%;
}

.announcement {
    box-shadow: 0 0px 10px #0000001c;
}

.announcement-delete {
    position: absolute;
    top: 22px;
    right: 22px;
}

.mute-button {
    filter: invert(65%) sepia(0%) saturate(27%) hue-rotate(135deg) brightness(97%) contrast(77%);
    transition: filter 0.1s linear;
    cursor: pointer;
}

.mute-button:hover {
    filter: none;
}

form {
    margin: 1rem;
}
