{% extends 'system_base.html' %}
{% load static %}
{% load user_filters %}
{% load crispy_forms_tags %}

{% block title %} Объявления {% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'announcements/css/announcements.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'announcements/js/announcements.js' %}"></script>
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
{% endblock %}

{% block main %}

    {% if perms.announcements.add_announcement %}
    <a href="{% url 'announcement-add' %}" class="btn btn-outline-secondary mt-2 mb-4">Новое объявление</a>
    {% endif %}

    {% for announcement in announcements %}
        <div class="card mb-3 announcement">
            <div class="card-body">
                <h3 class="card-title">
                    {{ announcement.title }}
                    <div class="announcement-buttons">
                        {% if perms.announcements.change_announcement and announcement.author == user %}
                            <a href="{% url 'announcement-edit' announcement.id %}" class="announcement-button">
                                <img src="{% static 'images/icons/pencil.svg' %}"
                                     alt="" title="Редактировать объявление">
                            </a>
                        {% endif %}
                        {% if perms.announcements.delete_announcement %}
                            <img src="{% static 'images/icons/trash.svg' %}"
                                alt="" title="Удалить объявление" announcement-id="{{ announcement.id }}"
                                class="announcement-button" onclick="deleteAnnouncement(this)">
                        {% endif %}
                    </div>
                </h3>
                {% if announcement.author %}
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% with author=announcement.author %}
                            {{ author.fullname }}, {{ announcement.date_created }}
                        {% endwith %}
                    </h6>
                {% endif %}
                <p class="card-text mt-4">{{ announcement.text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
