{% extends 'base.html' %}
{% load static %}
{% load user_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/system.css' %}">
{% endblock %}

{% block body %}
    <body>
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0" href="{% url 'home' %}">
            <span style="color: #3399FF">diary</span><span style="color: white">space</span>
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'logout' %}">Выйти из аккаунта</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'announcements' %}">
                                <img class="feather" src="{% static 'images/icons/bell.svg' %}" alt="">
                                Объявления
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="feather" src="{% static 'images/icons/message.svg' %}" alt="">
                                Сообщения
                            </a>
                        </li>
                        {% if perms.journal.view_lesson %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="feather" src="{% static 'images/icons/edit.svg' %}" alt="">
                                Журнал
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.journal.view_diary %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="feather" src="{% static 'images/icons/clipboard.svg' %}" alt="">
                                Дневник
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                    {% can_manage_school perms as can_manage_school %}
                    {% if can_manage_school %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Управление школой</span>
                        </h6>
                    {% endif %}

                    <ul class="nav flex-column mb-2">
                        {% if perms.schools.change_school %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img class="feather" src="{% static 'images/icons/cog.svg' %}" alt="">
                                    Настройки школы
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.schools.change_schedule %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img class="feather" src="{% static 'images/icons/calendar.svg' %}" alt="">
                                    Расписание уроков
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.schools.change_callschedule %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="feather" src="{% static 'images/icons/clock.svg' %}" alt="">
                                Расписание звонков
                            </a>
                        </li>
                        {% endif %}
                        {% if perms.schools.change_grade %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img class="feather" src="{% static 'images/icons/people.svg' %}" alt="">
                                    Классы
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.schools.change_subject %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img class="feather" src="{% static 'images/icons/stack.svg' %}" alt="">
                                    Предметы
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    {% can_manage_users perms as can_manage_users %}
                    {% if can_manage_users %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Пользователи</span>
                        </h6>
                    {% endif %}
                    <ul class="nav flex-column mb-2">
                        {% if perms.users.add_teacher %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teachers' %}">
                                    <img class="feather" src="{% static 'images/icons/person.svg' %}" alt="">
                                    Учителя
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.users.add_student %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img class="feather" src="{% static 'images/icons/person.svg' %}" alt="">
                                    Ученики
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.users.add_parent %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'parents' %}">
                                    <img class="feather" src="{% static 'images/icons/person.svg' %}" alt="">
                                    Родители
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="page-title h2 m-0">{% block title %}{% endblock %}</h1>
                </div>
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
    </body>

{% endblock %}
