{% extends 'system_base.html' %}
{% load static %}
{% load user_filters %}

{% block title %} Объявления {% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'schools/css/announcements.css' %}">
{% endblock %}

{% block main %}
    {% if perms.schools.add_announcement %}
        <button type="button" class="btn btn-outline-secondary mt-2 mb-4" data-toggle="modal" data-target="#addAnnouncement">
            Новое объявление
        </button>
    {% endif %}

    <div class="modal fade" id="addAnnouncement" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAnnouncementLabel">Новое объявление</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post" action="{% url 'announcements' %}" class="m-3">
                    {% csrf_token %}
                    <div>
                        {{ form.title|normalize_placeholder_input }}
                        {{ form.text|normalize_placeholder_input }}
                        <div class="my-2">Объявления для групп пользователей:</div>
                        {{ form.groups }}
                    </div>
                    <button class="btn btn-outline-primary create-announcement" type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>

    {% for announcement in announcements %}
        <div class="card mb-3 announcement">
            <div class="card-body">
                <h3 class="card-title">{{ announcement.title }}</h3>
                {% if announcement.author %}
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% with author=announcement.author %}
                            {{ author.surname }} {{ author.name }} {{ author.patronymic }}, {{ announcement.date_created }}
                        {% endwith %}
                    </h6>
                {% endif %}
                <p class="card-text mt-4">{{ announcement.text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}