{% extends 'system_base.html' %}
{% load static %}
{% load user_filters %}
{% load crispy_forms_tags %}

{% block title %} Объявления {% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'schools/css/announcements.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'schools/js/announcements.js' %}"></script>
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
{% endblock %}

{% block main %}
    {% if perms.schools.add_announcement %}
        <button type="button" class="btn btn-outline-secondary mt-2 mb-4" data-toggle="modal" data-target="#addAnnouncement">
            Новое объявление
        </button>
    {% endif %}

    <div class="modal fade" id="addAnnouncement" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAnnouncementLabel">Новое объявление</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {% crispy form %}
            </div>
        </div>
    </div>

    {% for announcement in announcements %}
        <div class="card mb-3 announcement">
            <div class="card-body">
                <h3 class="card-title">{{ announcement.title }}</h3>
                {% if announcement.author %}
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% with author=announcement.author %}
                            {{ author.surname }} {{ author.name }} {{ author.patronymic }}, {{ announcement.date_created }}
                        {% endwith %}
                    </h6>
                {% endif %}
                <p class="card-text mt-4">{{ announcement.text }}</p>
                {% if perms.schools.delete_announcement %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round"
                         class="announcement-delete mute-button" onclick="deleteAnnouncement(this)"
                         title="Удалить объявление"
                         announcement-id="{{ announcement.id }}">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                        <line x1="10" y1="11" x2="10" y2="17"></line>
                        <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
